<div><h1>menu</h1></div>
<div>
<ul>
<li>
<a href="{{ path('supprimer') }}" >Supprimer</a>
<a href="{{ path('ajouter') }}" >Ajouter</a>
<a href="{{ path('modifier') }}" >Modifier</a>
</li>
</ul>
</div>